{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1 style="text-align:center; margin-top:30px; " class="h1-logging">Modifier vos données</h1>
<main id="editInfo">

           
        {{ form_start(form, {'attr': {'class': 'form-logging'}}) }}

        {# {{ form_row(form.customer.name) }}
    
        {{ form_row(form.customer.surname) }} 
        {{ form_row(form.email) }} 
        { {{ form_row(form.customerAdress.adressLine) }}
        {{ form_row(registrationForm.customer.adresse2) }}
        {{ form_row(registrationForm.customer.city) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
         {{ form_row(registrationForm.customer.phone) }}
        {{ form_row(registrationForm.agreeTerms) }}   #}

        <button type="submit" class="btn">Register</button>
        {{ form_end(form) }}            
    </div>
    
</main>
{% endblock %}
