{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <h1 style="text-align:center;">Inscription</h1>
    <main id="register">

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.customer.phone) }}
        {{ form_row(registrationForm.customer.name) }}
        {{ form_row(registrationForm.customer.surname) }}
        {{ form_row(registrationForm.customer.adress) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button style="border:solid 3px white;margin-bottom:10px;" type="submit" class="btn">Inscription</button>
    {{ form_end(registrationForm) }}
    </main>
{% endblock %}
