{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <main style="display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;" id="dashboard">
        <table style="width:50%;" class="table">
            <h2> Liste des 4 dernières commandes </h2>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date de commande</th>
                    <th>Status</th>
                    <th>Commentaire</th>
                    <th>Date de paiement</th>
                    <th>Date de livraison</th>
                </tr>
            </thead>
            <tbody>
            {% for order in listOrder %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.orderAt|date('d-m-Y') }}</td>
                    <td>{{ order.status}}</td>
                    <td>{{ order.comment }}</td>
                    <td>{{ order.paidAt|date('d-m-Y') }}</td>
                    <td>{{ order.deliveryAt|date('d-m-Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table style="width:50%;" class="table">
            <h2> Liste des 4 dernières commandes </h2>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tel</th>
                    <th>Prenom</th>
                    <th>nom</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for customer in listCustomer %}
                    <tr>
                        <td>{{ customer.id }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.surname }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
