{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

<main id="modificationCreation">
        <section class="needBiggerScreen">
            <div><p>Veuillez utilisez un écran plus grand pour avoir accès a cette partie du site.</p></div>
        </section>
        <section class="mainSection">
            <section class="firstSection">
                <div>
                    <h2>Modification keycap</h2>
                    
                    {{ include('project/_form1.html.twig') }}
                </div>
            </section>
            <section class="secondSection">
                <div class="parent" style="font-family:{{ project.font }};">
                    {# {% for key in keys %}
                     <div id="{{ key.id }}" {% if key.id in ids %} style="background-color:{{ idsColor[key.id] }};" {% endif %}  class="div{{ key.keyPreview }}"><div  class="key">{{ key.symbol }}</div></div>   
                    {% endfor %}  #}
                    {# <div id="4" {% if '4' in ids %} style="background-color:{{ idsColor['4'] }};" {% endif %}  class="div1"><div class="key keyModifier">Echap</div> </div> #}

                    <div {% if '0' in ids %} style="background-color:{{ idsColor['0'] }};" {% endif %}  class="div1"><div class="key keyModifier">Echap</div> </div>
                    <div {% if '1' in ids %} style="background-color:{{ idsColor['1'] }};" {% endif %}class="div2"><div class="key keyAlph">1</div> </div>
                    <div {% if '2' in ids %} style="background-color:{{ idsColor['2'] }};" {% endif %}class="div3"><div class="key keyAlph">2</div> </div>
                    <div {% if '3' in ids %} style="background-color:{{ idsColor['3'] }};" {% endif %} class="div4"><div class="key keyAlph">3</div> </div>
                    <div {% if '4' in ids %} style="background-color:{{ idsColor['4'] }};" {% endif %} class="div5"><div class="key keyAlph">4</div> </div>
                    <div {% if '5' in ids %} style="background-color:{{ idsColor['5'] }};" {% endif %} class="div6"><div class="key keyAlph">5</div> </div>
                    <div {% if '6' in ids %} style="background-color:{{ idsColor['6'] }};" {% endif %} class="div7"><div class="key keyAlph">6</div> </div>
                    <div {% if '7' in ids %} style="background-color:{{ idsColor['7'] }};" {% endif %} class="div8"><div class="key keyAlph">7</div> </div>
                    <div {% if '8' in ids %} style="background-color:{{ idsColor['8'] }};" {% endif %} class="div9"><div class="key keyAlph">8</div> </div>
                    <div {% if '9' in ids %} style="background-color:{{ idsColor['9'] }};" {% endif %} class="div10"><div class="key keyAlph">9</div> </div>
                    <div {% if '10' in ids %} style="background-color:{{ idsColor['10'] }};" {% endif %} class="div11"><div class="key keyAlph">0</div> </div>
                    <div {% if '11' in ids %} style="background-color:{{ idsColor['11'] }};" {% endif %} class="div12"><div class="key keyAlph">)</div> </div>
                    <div {% if '12' in ids %} style="background-color:{{ idsColor['12'] }};" {% endif %} class="div13"><div class="key keyAlph">=</div> </div>
                    <div {% if '13' in ids %} style="background-color:{{ idsColor['13'] }};" {% endif %} class="div14"><div class="key keyModifier">BackSpace</div> </div>
                    <div {% if '14' in ids %} style="background-color:{{ idsColor['14'] }};" {% endif %} class="div15"><div class="key keyModifier">Tab</div> </div>
                    <div {% if '15' in ids %} style="background-color:{{ idsColor['15'] }};" {% endif %} class="div16"><div class="key keyAlph">a</div> </div>
                    <div {% if '16' in ids %} style="background-color:{{ idsColor['16'] }};" {% endif %} class="div17"><div class="key keyAlph">z</div> </div>
                    <div {% if '17' in ids %} style="background-color:{{ idsColor['17'] }};" {% endif %} class="div18"><div class="key keyAlph">e</div> </div>
                    <div {% if '18' in ids %} style="background-color:{{ idsColor['18'] }};" {% endif %} class="div19"><div class="key keyAlph">r</div> </div>
                    <div {% if '19' in ids %} style="background-color:{{ idsColor['19'] }};" {% endif %} class="div20"><div class="key keyAlph">t</div> </div>
                    <div {% if '20' in ids %} style="background-color:{{ idsColor['20'] }};" {% endif %} class="div21"><div class="key keyAlph">y</div> </div>
                    <div {% if '21' in ids %} style="background-color:{{ idsColor['21'] }};" {% endif %} class="div22"><div class="key keyAlph">u</div> </div>
                    <div {% if '22' in ids %} style="background-color:{{ idsColor['22'] }};" {% endif %} class="div23"><div class="key keyAlph">i</div> </div>
                    <div {% if '23' in ids %} style="background-color:{{ idsColor['23'] }};" {% endif %} class="div24"><div class="key keyAlph">o</div> </div>
                    <div {% if '24' in ids %} style="background-color:{{ idsColor['24'] }};" {% endif %} class="div25"><div class="key keyAlph">p</div> </div>
                    <div {% if '25' in ids %} style="background-color:{{ idsColor['25'] }};" {% endif %} class="div26"><div class="key keyAlph">^</div> </div>
                    <div {% if '26' in ids %} style="background-color:{{ idsColor['26'] }};" {% endif %} class="div27"><div class="key keyAlph">$</div> </div>
                    <div {% if '27' in ids %} style="background-color:{{ idsColor['27'] }};" {% endif %} class="div28"><div class="key keyModifier">Entrée</div> </div>
                    <div {% if '28' in ids %} style="background-color:{{ idsColor['28'] }};" {% endif %} class="div29"><div class="key keyModifier">Caps lock</div> </div>
                    <div {% if '29' in ids %} style="background-color:{{ idsColor['29'] }};" {% endif %} class="div30"><div class="key keyAlph">q</div> </div>
                    <div {% if '30' in ids %} style="background-color:{{ idsColor['30'] }};" {% endif %} class="div31"><div class="key keyAlph">s</div> </div>
                    <div {% if '31' in ids %} style="background-color:{{ idsColor['31'] }};" {% endif %} class="div32"><div class="key keyAlph">d</div> </div>
                    <div {% if '32' in ids %} style="background-color:{{ idsColor['32'] }};" {% endif %} class="div33"><div class="key keyAlph">f</div> </div>
                    <div {% if '33' in ids %} style="background-color:{{ idsColor['33'] }};" {% endif %} class="div34"><div class="key keyAlph">g</div> </div>
                    <div {% if '34' in ids %} style="background-color:{{ idsColor['34'] }};" {% endif %} class="div35"><div class="key keyAlph">h</div> </div>
                    <div {% if '35' in ids %} style="background-color:{{ idsColor['35'] }};" {% endif %} class="div36"><div class="key keyAlph">j</div> </div>
                    <div {% if '36' in ids %} style="background-color:{{ idsColor['36'] }};" {% endif %} class="div37"><div class="key keyAlph">k</div> </div>
                    <div {% if '37' in ids %} style="background-color:{{ idsColor['37'] }};" {% endif %} class="div38"><div class="key keyAlph">l</div> </div>
                    <div {% if '38' in ids %} style="background-color:{{ idsColor['38'] }};" {% endif %} class="div39"><div class="key keyAlph">m</div> </div>
                    <div {% if '39' in ids %} style="background-color:{{ idsColor['39'] }};" {% endif %} class="div40"><div class="key keyAlph">ù</div> </div>
                    <div {% if '40' in ids %} style="background-color:{{ idsColor['40'] }};" {% endif %} class="div41"><div class="key keyAlph">*</div> </div>
                    <div {% if '41' in ids %} style="background-color:{{ idsColor['41'] }};" {% endif %} class="div42"><div class="key keyModifier">Shift</div> </div>
                    <div {% if '42' in ids %} style="background-color:{{ idsColor['42'] }};" {% endif %} class="div43"><div class="key keyAlph"><</div> </div>
                    <div {% if '43' in ids %} style="background-color:{{ idsColor['43'] }};" {% endif %} class="div44"><div class="key keyAlph">w</div> </div>
                    <div {% if '44' in ids %} style="background-color:{{ idsColor['44'] }};" {% endif %} class="div45"><div class="key keyAlph">x</div> </div>
                    <div {% if '45' in ids %} style="background-color:{{ idsColor['45'] }};" {% endif %} class="div46"><div class="key keyAlph">c</div> </div>
                    <div {% if '46' in ids %} style="background-color:{{ idsColor['46'] }};" {% endif %} class="div47"><div class="key keyAlph">v</div> </div>
                    <div {% if '47' in ids %} style="background-color:{{ idsColor['47'] }};" {% endif %} class="div48"><div class="key keyAlph">b</div> </div>
                    <div {% if '48' in ids %} style="background-color:{{ idsColor['48'] }};" {% endif %} class="div49"><div class="key keyAlph">n</div> </div>
                    <div {% if '49' in ids %} style="background-color:{{ idsColor['49'] }};" {% endif %} class="div50"><div class="key keyAlph">,</div> </div>
                    <div {% if '50' in ids %} style="background-color:{{ idsColor['50'] }};" {% endif %} class="div51"><div class="key keyAlph">;</div> </div>
                    <div {% if '51' in ids %} style="background-color:{{ idsColor['51'] }};" {% endif %} class="div52"><div class="key keyAlph">:</div> </div>
                    <div {% if '52' in ids %} style="background-color:{{ idsColor['52'] }};" {% endif %} class="div53"><div class="key keyAlph">!</div> </div>
                    <div {% if '53' in ids %} style="background-color:{{ idsColor['53'] }};" {% endif %} class="div54"><div class="key keyModifier">Shift</div> </div>
                    <div {% if '54' in ids %} style="background-color:{{ idsColor['54'] }};" {% endif %} class="div55"><div class="key keyModifier">Ctrl</div> </div>
                    <div {% if '55' in ids %} style="background-color:{{ idsColor['55'] }};" {% endif %} class="div56"><div class="key keyModifier">Windows</div> </div>
                    <div {% if '56' in ids %} style="background-color:{{ idsColor['56'] }};" {% endif %} class="div57"><div class="key keyModifier">Alt</div> </div>
                    <div {% if '57' in ids %} style="background-color:{{ idsColor['57'] }};" {% endif %} class="div62"><div class="key keyAlph">Space</div> </div>
                    <div {% if '58' in ids %} style="background-color:{{ idsColor['58'] }};" {% endif %} class="div61"><div class="key keyModifier">Alt gr</div> </div>
                    <div {% if '59' in ids %} style="background-color:{{ idsColor['59'] }};" {% endif %} class="div60"><div class="key keyModifier">Fn</div> </div>
                    <div {% if '60' in ids %} style="background-color:{{ idsColor['60'] }};" {% endif %} class="div59"><div class="key keyModifier">Menu</div> </div>
                    <div {% if '61' in ids %} style="background-color:{{ idsColor['61'] }};" {% endif %} class="div58"><div class="key keyModifier">Ctrl</div> </div>
                </div>
            </section>
            <section class="thirdSection">
                <div>
                    {# <button class="bReset">RESET</button> #}
                    <a href="{{ path('app_project_list') }}"> <button class="bSave">Retour a ma liste de création</button></a>
                </div> 
            </section>
            <section class="fourthSection">
                <div class="topBar">
                    <h2>Votre banque d'image</h2>
                    <button>Ajouter une image</button>
                </div>
                <div class="scroller">
                    <img src="../pics/kc1.png" alt="">
                    <img src="../pics/kc1.png" alt="">
                    <img src="../pics/kc1.png" alt=""><img src="../pics/kc1.png" alt="">
                    <img src="../pics/kc1.png" alt="">
                    <img src="../pics/kc1.png" alt=""><img src="../pics/kc1.png" alt="">
                    <img src="../pics/kc1.png" alt="">
                    <img src="../pics/kc1.png" alt="">
                </div>
            </section>
        </section>
    </main>

{% endblock %}